<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [18]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [54]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 
1. Open the url : https://exchangeratesapi.io/ and click on **Get Free API Key**. 
2. Subscribe for Free plan and Sign-in with the Google Account. 
3. Once the account is created you will be redirected to https://apilayer.com website.
2. Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png">

3. Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [55]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=6504fc366b9bb54f9653b613e197c9f7"  #Make sure to change ******* to your API key.
html_data = requests.get(url).text

print(html_data)

{"success":true,"timestamp":1693883823,"base":"EUR","date":"2023-09-05","rates":{"AED":3.960265,"AFN":79.20646,"ALL":108.035553,"AMD":416.558719,"ANG":1.945239,"AOA":889.545696,"ARS":377.400331,"AUD":1.678225,"AWG":1.940774,"AZN":1.83127,"BAM":1.95373,"BBD":2.179271,"BDT":118.674283,"BGN":1.954052,"BHD":0.40642,"BIF":3064.767558,"BMD":1.078208,"BND":1.460759,"BOB":7.458099,"BRL":5.323867,"BSD":1.079357,"BTC":4.2102145e-5,"BTN":89.241862,"BWP":14.654476,"BYN":2.724926,"BYR":21132.872939,"BZD":2.175575,"CAD":1.468185,"CDF":2679.345963,"CHF":0.954914,"CLF":0.033519,"CLP":924.896983,"CNY":7.861432,"COP":4373.297106,"CRC":579.594072,"CUC":1.078208,"CUP":28.572507,"CVE":110.148315,"CZK":24.140535,"DJF":192.174638,"DKK":7.453869,"DOP":61.455752,"DZD":147.515017,"EGP":33.316623,"ERN":16.173117,"ETB":59.644716,"EUR":1,"FJD":2.442786,"FKP":0.856233,"GBP":0.854749,"GEL":2.841044,"GGP":0.856233,"GHS":12.303966,"GIP":0.856233,"GMD":65.609205,"GNF":9268.224707,"GTQ":8.499996,"GYD":225.990597,"HKD":8.450103,"HNL":26.579843,"HRK":7.421089,"HTG":146.185816,"HUF":382.143781,"IDR":16444.825411,"ILS":4.112231,"IMP":0.856233,"INR":89.252857,"IQD":1413.502609,"IRR":45581.234892,"ISK":143.90889,"JEP":0.856233,"JMD":166.553562,"JOD":0.763475,"JPY":158.227016,"KES":156.199668,"KGS":95.156795,"KHR":4503.250375,"KMF":490.584925,"KPW":970.382242,"KRW":1429.935358,"KWD":0.33253,"KYD":0.899447,"KZT":494.935691,"LAK":21286.450247,"LBP":16222.390076,"LKR":345.394108,"LRD":200.546485,"LSL":19.957564,"LTL":3.183667,"LVL":0.652197,"LYD":5.198445,"MAD":10.979569,"MDL":19.265413,"MGA":4867.843261,"MKD":61.496053,"MMK":2266.598884,"MNT":3745.864999,"MOP":8.710273,"MRO":384.92,"MUR":50.26964,"MVR":16.600707,"MWK":1151.1805,"MXN":18.558253,"MYR":5.024178,"MZN":68.19659,"NAD":19.95717,"NGN":817.033892,"NIO":39.488351,"NOK":11.494337,"NPR":142.788724,"NZD":1.822759,"OMR":0.415112,"PAB":1.079357,"PEN":3.995667,"PGK":3.950833,"PHP":61.248628,"PKR":330.680195,"PLN":4.473704,"PYG":7848.612797,"QAR":3.925796,"RON":4.945413,"RSD":117.27449,"RUB":103.777607,"RWF":1288.734782,"SAR":4.044373,"SBD":9.024081,"SCR":14.382299,"SDG":647.737497,"SEK":11.894577,"SGD":1.463974,"SHP":1.311909,"SLE":24.022554,"SLL":21294.603684,"SOS":612.960871,"SSP":648.543238,"SRD":41.615046,"STD":22316.724629,"SYP":14018.442855,"SZL":20.394395,"THB":38.185863,"TJS":11.85644,"TMT":3.784509,"TND":3.334357,"TOP":2.573787,"TRY":28.868477,"TTD":7.314252,"TWD":34.422328,"TZS":2703.210391,"UAH":39.861373,"UGX":4014.746987,"USD":1.078208,"UYU":40.587004,"UZS":13079.144638,"VEF":3528463.781252,"VES":34.65179,"VND":25968.634935,"VUV":130.389573,"WST":2.949664,"XAF":655.262849,"XAG":0.045197,"XAU":0.000557,"XCD":2.913911,"XDR":0.81154,"XOF":655.256778,"XPF":119.379861,"YER":269.929485,"ZAR":20.674263,"ZMK":9705.162192,"ZMW":21.937557,"ZWL":347.182473}}

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [75]:
# Turn the data into a dataframe
df = pd.DataFrame(json.loads(html_data)).reset_index()
df.rename(columns = {'index':'Currency'}, inplace = True)
new_data = df.set_index('Currency')

In [79]:
# Drop unnescessary columns

new_data_csv = new_data.drop(['success','timestamp','base','date'], axis=1)
new_data_csv

                rates
Currency
AED          3.960265
AFN         79.206460
ALL        108.035553
AMD        416.558719
ANG          1.945239
...               ...
YER        269.929485
ZAR         20.674263
ZMK       9705.162192
ZMW         21.937557
ZWL        347.182473

[170 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [80]:
# Save the Dataframe
new_data_csv.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

| | Rates |
| ------- | ------- |
|  AED| 4.398618    |
|  AFN| 92.917693   |  
|  ALL| 123.099093  |
|  AMD| 621.935674  |
|  ANG| 2.149648    |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url|
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).